:root {
  --bg1: url(/../../images/bg-body.jpg);
}

.hero-container > .hero-wrapper {
  height: 400px; /* Adjustable height matching image proportions */
  background: var(--bg1) center/cover no-repeat; /* Replace with actual shuttle image base64 or URL */
  display: flex;
  align-items: center;
  padding: 0 60px;
  position: relative;
}
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1, p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.section2 {
  padding-bottom: 40px;
  color: gray;
}